#arquivo usado para exemplificar as variáveis de ambiente existenten
#no projeto, sem expor os valores delas no git, já que no arquivo .gitignore
#já existe o .env evitando que esse arquivo seja colocado em nuvem
DATABASE_CLIENT=sqlite
NODE_ENV = development
DATABASE_URL=